version: "3.7"
services:
  app:
    build: .
    container_name: app
    ports:
      - 8080:8080
    depends_on:
      - db
    environment:
      profile: prod
      GIN_MODE: release
    links: 
      - db
  db:
    image: postgres:9.6.17-alpine
    container_name: db
    restart: always
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: shop
      POSTGRES_INITDB_ARGS: --data-checksums
    volumes:
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    ports:
      - 5432:5432

