version: "3.7"
services:

  app:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
    container_name: app
    depends_on:
      - db
    environment:
      GIN_MODE: release
      profile: prod
    links:
      - db
    ports:
      - 8080:8080

  db:
    image: postgres:9.6-alpine
    container_name: db
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: shop
      POSTGRES_INITDB_ARGS: --data-checksums
    ports:
      - 5432:5432
    restart: always
    volumes:
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
